html{
    
    box-sizing: border-box;
    scroll-snap-type:mandatory;

}

/*selector universal*/
*, *:before, *:after {
    box-sizing: inherit;
}
*{
    padding: 0;
    margin: 0;
}

/*Selector id*/

#contenedor{
    width: 1300px;
    height: 1000px;
    
    background-color:blue ;
    max-width: 0 auto;  
}

#encabezado{
    height: 10%;
    background-color:aquamarine;
    margin: 1em auto;
    text-align:center;
     
}
#menu{
    height: 5%;
    
    background-color:beige;
    padding: 2rem;
    border-radius: 1em;
    margin: 2em;
    text-align: center;
    
    border-radius: 2rem;
    
}
#contenido{
    height: 70%;
    width: 61%;
    
    background-color:blanchedalmond;;
    padding: 2rem;
    border-radius: 2rem;
    margin: 0.5em;
    
    display: inline-block;
}


#fueraSeccion{
    height: 70%;
    width: 36%;
    
    background-color:goldenrod;
    padding: 2rem;
    border-radius: 2rem;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    
}
#pie{
    
    max-width: 100%;
    background-color:darkcyan;
    border-radius: 1em;
    margin: 2em;
    text-align: center;
    

}


/*Selector tipo clase*/

.texto{
    text-align: center;
    font-family: Tohoma;
    font-size: medium;
}
.giancarloImagen{
    max-width:10rem;
    display: block;
    border: 1px solid #ddd;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    padding: 5px;
    

}
.giancarloImagen2{
    max-width:20rem;
    display: block;
    border: 1px solid #ddd;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    padding: 5px;
    

}
.encabezado_articulo{
    text-align: center;
    background:#333;
    color: aliceblue;
    margin: auto 2em;


}


/*Selector etiqueta*/
ul{
    text-align: center;
    
    
}
li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}
a{
    color:black;
}

